body {
  font-family: "Nunito", sans-serif;
  padding: 50px;
}
.card {
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card p {
  text-align: center;
  font-size: 150%;
}

.card h3 {
  font-weight: 600;
  text-align: center;
  font-size: 200%;
}

.card img {
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1 {
  background-image: url("./Photos/India.png");
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2 {
  background-image: url("./Photos/Recovered.png");
  background-repeat: no-repeat;
  background-color: rgb(123, 198, 241);
  background-position: right;
  background-size: 80px;
}

.card-3 {
  background-image: url("./Photos/Confirmed.png");
  background-color: rgb(132, 240, 132);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-4 {
  background-image: url("./Photos/deaths.png");
  background-color: rgb(245, 86, 86);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}
.card-5 {
  background-image: url("./Photos/Active.png");
  background-color: gray;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}
.card-6 {
  background-image: url("./Photos/Updated.png");
  background-color: rgb(240, 128, 240);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

@media (max-width: 990px) {
  .card {
    margin: 20px;
  }
}
